/*
╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
║ Name                     ║ Brave Toolbar                                                                           ║
╠══════════════════════════╬═════════════════════════════════════════════════════════════════════════════════════════╣
║ Description              ║ Makes The Toolbar Match Brave's                                                         ║
╠══════════════════════════╬═════════════════════════════════════════════════════════════════════════════════════════╣
║ Sub-Folder               ║ userChrome.css                                                                          ║
╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝
*/

/* Padding Between Toolbar Icons (Back, Forward, Refresh) Inside Their Hitbox */
:root {
  --toolbarbutton-inner-padding: 5px !important;
  --tab-border-radius: 8px !important;
}

/* remove border below whole nav */
#navigator-toolbox {
  border-bottom: none !important;
}

/* Fix Tiny Reader Mode Button */
#reader-mode-button {
  padding-top: 6px !important;
  padding-bottom: 0px !important;
}

/* Small URL Bar Height */
:root,
#urlbar-container,
#search-container,
#nav-bar-customization-target,
#nav-bar {
  --urlbar-min-height: 31.30px;px !important;
}

/* Make Toolbar Small */
#urlbar-container,
#search-container,
#nav-bar-customization-target,
#nav-bar {
  --urlbar-toolbar-height: 17px !important;
  --urlbar-container-height: 38px !important;
}

/* Remove Top And Bottom Padding Of URL Bar 
#urlbar-container {
    /*! padding-top: 8px !important; */
/*! padding-bottom: 0px !important; 
}*/

/* Make Back Button Closer To Left Side */
#back-button {
  margin-left: 5px !important;
}

/* Make All Toolbar Buttons Have Smaller Space Between Eachother */
toolbar .toolbarbutton-1 {
  margin-left: -2px !important;
}

/* Kill Refresh Animation */
#nav-bar-customization-target
  > #stop-reload-button
  > :is(#reload-button, #stop-button)
  > .toolbarbutton-animatable-box {
  visibility: hidden !important;
}

/* Make Stop Refresh Icon Visible 
#stop-reload-button[animate] > #reload-button > .toolbarbutton-icon,
#stop-reload-button[animate]
  > #reload-button[displaystop]
  + #stop-button
  > .toolbarbutton-icon {
  fill: context-fill !important;
  fill-opacity: context-fill-opacity !important;
}*/

/* Make Site Information Dropdown Look Like Brave (Kinda) */
/* Connection Not Secure Text Color */
.identity-popup-connection-not-secure {
  color: #f28b82 !important;
}

/* Connection Not Secure Text Color */
.identity-popup-connection-secure {
  color: #81c995 !important;
}

/* Make Not Secure Icon Have Separator Line */
#identity-box[pageproxystate="valid"].notSecure::after {
  width: 1px;
  content: "";
  margin-left: 0px;
  display: -moz-box;
  background-image: linear-gradient(
    transparent 20%,
    color-mix(in srgb, currentColor 20%, transparent) 10%,
    color-mix(in srgb, currentColor 20%, transparent) 85%,
    transparent 20%
  );
  transition: opacity 300ms linear !important;
  margin-right: 3px !important;
}
#identity-box:hover:after,
#identity-box:hover:after {
  opacity: 0 !important;
}

/* Make Not Secure Box Have Text */
#identity-box[pageproxystate="valid"].notSecure ::after {
  content: "Not secure";
  font-size: 14px;
  color: #9aa0a6;
  /* Space Between Icon & Text */
  text-indent: 5px;
  /* Make Text Centred 
  padding: 0 01px 2px 0;*/
  display: block;
  line-height: initial; /* New content takes up original line height */
}

/* Moves Bookmark Button To The Left Of URL Bar */
#star-button-box {
  display: block;
  position: absolute;
  left: -35px;
  -moz-window-dragging: no-drag;
}
#urlbar-input-container {
  overflow: visible !important;
}
/* Adds Space To URL Bar So Bookmark Doesnt Get Overlap */

/* Make Bookmark Button Centred Again */
#star-button-box.urlbar-page-action {
  height: 26px !important;
  width: 26px !important;
  padding: 5px !important;
}

/* URL Bar Fade Animation On Hover */
#urlbar-input-container:hover {
  background-color: #23252f !important;
}
#urlbar-input-container {
  transition: background-color 0.3s ease-in;
}

/* Make Bookmark Button Smaller */
#star-button.urlbar-icon {
  padding: 1px;
}

/* Make Back / Forawrd Button Smaller */
#unified-extensions-button > .toolbarbutton-icon,
#unified-extensions-button > .toolbarbutton-icon,
#reload-button > .toolbarbutton-icon,
#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon,
#stop-button > .toolbarbutton-icon {
  padding: 4px !important;
}

/* Fix Search Bookmarks Item In Settings Dropdown 
#panelMenu_searchBookmarks > image:nth-child(1) {
  margin-left: -10px !important;
}
#panelMenu_searchBookmarks {
  height: 32px !important;
}*/

#urlbar-background,
#searchbar {
  border-radius: 8px !important;
}

.urlbar-input-container {
  border-radius: 8px !important;
  transition: box-shadow 0.2s !important;
}
.urlbar-input-container:hover {
  box-shadow: 0 0 5px #00000052 !important;
}



#identity-box[pageproxystate="valid"]:is(.chromeUI) > .identity-box-button::after {
  content: "Firefox";
  font-size: 14px;
  color: #9aa0a6;
  text-indent: 5px;
  display: block;
  line-height: initial;
}

#identity-box[pageproxystate="valid"]:is(.chromeUI, .extensionPage)::after {
  width: 1px;
  content: "";
  margin-left: 0px;
  display: -moz-box;
  background-image: linear-gradient(
    transparent 20%,
    color-mix(in srgb, currentColor 20%, transparent) 10%,
    color-mix(in srgb, currentColor 20%, transparent) 85%,
    transparent 20%
  );
  transition: opacity 300ms linear !important;
  margin-right: 3px !important;
}


#identity-box[pageproxystate="valid"].extensionPage #identity-icon{
  list-style-image: url(chrome://global/skin/icons/search-glass.svg) !important;
}